<main class="container-fluid min-vh-100 mt-5 position-relative" style="top:15px">
  <div class="container-fluid">
    <nav style=" --bs-breadcrumb-divider: '>'; " aria-label="breadcrumb">
      <ol class="breadcrumb w-100 border-bottom pb-3">
        <li class="breadcrumb-item">Room</li>
        <li
          class="breadcrumb-item active text-capitalize"
          aria-current="page"
        >Create room</li>
      </ol>
    </nav>
  </div>
  <div class="container my-4 d-flex justify-content-start">
    <a
      class="btn text-white px-5 rounded-pill fw-bold"
      style="background-color: #0099ff;"
      onclick="history.back()"
    >Back</a>
  </div>
  <div class="container">
    <div class="card px-5 py-5">
      <form>
        <div class="mb-3">
          <label for="name" class="form-label text-capitalize">name room</label>
          <input
            type="text"
            class="form-control rounded-pill"
            id="name"
            aria-describedby="name"
            required="true"
          />
        </div>
        <div class="mb-3">
          <label for="capacity" class="form-label text-capitalize">capacity room</label>
          <select
            class="form-select rounded-pill"
            aria-label="Default select example"
            required="true"
          >
            <option selected disabled>Choose Capacity</option>
            <option value="10">Room Small / 10</option>
            <option value="25">Room Medium / 25 </option>
            <option value="50">Room Large / 50 </option>
            <option value="100">Room Extra Large / 100 </option>

          </select>
        </div>
        <div class="mb-3">
          <label for="facility" class="form-label text-capitalize">facility room</label>
          <textarea
            class="form-control"
            required="true"
            id="facility"
            rows="3"
          ></textarea>
        </div>
        <button
          class="btn text-white px-5 rounded-pill fw-bold w-100 mt-4"
          style="background-color: #0099ff;"
          type="Submit"
        >Submit</button>

      </form>
    </div>
  </div>
</main>